[2016-06-02 19:58] extremecoders-re opened #4 "Restrict stylesheet only to root github.com domain"
Currently the stylesheet applies to any github.com domain such as https://jobs.github.com/.

![screencap](https://cloud.githubusercontent.com/assets/12072382/15758906/3d3ea6f2-292a-11e6-99fb-84fa0897b798.png)

This can be restricted with a regexp.

[2016-06-02 20:04] cquanu commented on #4
Hi @extremecoders-re thanks for the suggestion. This fix will be pushed in the next release.

[2016-06-02 20:08] extremecoders-re commented on #4
Apparently the one-click installer on [userstyles](https://userstyles.org/styles/128271/github-dark) made it apply to all github.com domains.

Otherwise there aint a problem if we manually specify to apply it to sites beginning with https://github.com/*

[2016-06-02 21:12] jpmnteiro opened #5 "Notifications foreground and background"
On the [notifications](https://github.com/notifications) table, the notification foreground is almost the same as the background making nigh impossible to read them without hovering. Shouldn't/couldn't the foreground be the same light grey as pull requests?

![notifications](https://cloud.githubusercontent.com/assets/2106660/15761564/ced6aa84-2910-11e6-8214-fdb4bc445ea8.png)

(also, thanks for the

[2016-06-02 21:20] cquanu commented on #4
Issue fixed in [v.1.40](https://github.com/cquanu/github-dark/releases/tag/v1.4.0).
Thanks for the help.

[2016-06-02 21:20] #4 closed

[2016-06-02 21:22] zsck commented on #5
Here's an example of what I'm seeing

<img width="725" alt="screen shot 2016-06-02 at 4 56 38 pm" src="https://cloud.githubusercontent.com/assets/682761/15761404/f538a798-28e5-11e6-9589-a7b7cc5ba583.png">

[2016-06-02 21:25] cquanu commented on #5
@jpmnteiro Thanks for your kinds words. v1.4.0 just released.
Please update and let me know whether the problem persist.

[2016-06-02 21:28] zsck commented on #5
@cquanu I just updated now and unfortunately am still having this issue. My notifications list appears just as before.

[2016-06-02 21:30] cquanu commented on #5
Hi @zsck can you post the affected URL here? I'll take a look :+1:

[2016-06-02 21:31] zsck commented on #5
Sure, it's just [/notifications](https://github.com/notifications)

[2016-06-02 21:32] toogy opened #6 "Syntax highlight colors make the code unreadable"
I find the code unreadable on GitHub because of the colorscheme :|

![deepinscreenshot20160602233036](https://cloud.githubusercontent.com/assets/694873/15761730/17981060-291a-11e6-9f7b-f4a01db60924.png)

[2016-06-02 21:34] toogy opened #7 "Issues white triangle doesn't match the colors of the style"
As can be seen on the following screenshot, there is a white triangle on the Issues section of GitHub that doesn't match the style:

![deepinscreenshot20160602233011](https://cloud.githubusercontent.com/assets/694873/15761772/565130f2-291a-11e6-8074-bb24e89f640f.png)

I don't know if there is anything that can be done about this (maybe simply remove it?)

[2016-06-02 21:36] cquanu commented on #5
Thanks. Is this better?
<img width="557" alt="fixedok" src="https://cloud.githubusercontent.com/assets/16508884/15761859/13f7c5da-294d-11e6-9159-c027915e1ab6.PNG">

[2016-06-02 21:37] zsck commented on #5
Yes I think that would be substantially easier to read. Thank you for tracking that down!

[2016-06-02 21:37] toogy commented on #5
@cquanu is the fully white border between my two issues on your screenshot wanted? I find it too white!

[2016-06-02 21:38] toogy commented on #5
As can be seen on the following screenshot. The white borders also happen around a comment you just posted on an issue:

![deepinscreenshot20160602233800](https://cloud.githubusercontent.com/assets/694873/15761906/0da81afe-291b-11e6-829a-cfca7e78217f.png)

[2016-06-02 21:39] cquanu commented on #5
@jpmnteiro Thanks for the screenshot. :+1:

[2016-06-02 21:40] toogy commented on #5
Again, here:

![deepinscreenshot20160602233944](https://cloud.githubusercontent.com/assets/694873/15761943/593d5a06-291b-11e6-8922-330bc926378b.png)

[2016-06-02 21:40] cquanu commented on #5
@toogy Sure. I will get them fixed :)

[2016-06-02 21:42] toogy opened #8 "Commit history, white squares"
The white squares in the commit history are destroying the contrast between the colors of the days with commits and those without. I think those squares should be a lot closer to the background (to have the same contrast balance as the official skin of GitHub).

![deepinscreenshot20160602234039](https://cloud.githubusercontent.com/assets/694873/15761958/753176a2-291b-11e6-99e4-501870afa3c5.png)

[2016-06-02 21:43] cquanu commented on #6
Thanks, this will be the main focus for the next update.

[2016-06-02 21:47] zsck commented on #5
@toogy A separate issue for these border color concerns is probably very much appropriate here.

[2016-06-02 21:48] toogy commented on #5
@zsck i couldn't agree more!

[2016-06-02 22:04] cquanu opened #9 "Lighter color for line divider"
![](https://cloud.githubusercontent.com/assets/694873/15761943/593d5a06-291b-11e6-8922-330bc926378b.png)

[2016-06-02 22:16] cquanu commented on #5
Hi guys, feel free to push requests to the [v1.5.0 branch](https://github.com/cquanu/github-dark/tree/v1.5.0-dev). Many thanks. :smile:

[2016-06-03 02:45] cjianyue opened #10 "Major issue at https://github.com/explore"
Appearance issue in dark mode. I am working on a fix.

[2016-06-03 02:47] cquanu commented on #10
Yes bro. Thanks thanks :+1:

[2016-06-03 07:21] jpmnteiro commented on #5
@cquanu notifications for me are still shown with the foreground/background that was originally reported (using 1.4.0).

[2016-06-03 08:24] toogy commented on #10
@cjianyue could you try to be a little bit more specific about what you are doing? :smile: (attaching a screenshot would be great)

[2016-06-03 09:14] cquanu commented on #8
Fixed in v1.5.0-dev branch

[2016-06-03 09:14] cquanu commented on #9
Fixed in v1.5.0-dev branch

[2016-06-03 09:21] cquanu commented on #7
Can't find the classes for this

[2016-06-03 09:28] cquanu commented on #10
@toogy feel free to work on this page.

[2016-06-03 09:56] toogy commented on #7
It's an image I think! See my screenshot:

![deepinscreenshot20160603115619](https://cloud.githubusercontent.com/assets/694873/15775440/34384d58-2982-11e6-9826-1a079c770dbc.png)

[2016-06-03 10:03] Nikitaw99 commented on #10
@toogy
Here, as you requested.
![explore screenshot](http://puu.sh/pf7oG/1e36b51dc6.png)

[2016-06-03 10:05] cquanu commented on #10
Thanks @Nikitaw99 :smile:

[2016-06-03 10:06] Nikitaw99 commented on #10
@cquanu No problem :)

[2016-06-03 10:20] cquanu commented on #5
Fixed in [Dev Branch](https://github.com/cquanu/github-dark/releases/tag/v1.5.0-dev)

[2016-06-03 10:22] jpmnteiro commented on #5
Verified, working on given dev branch (1.5.0)

![github_dark_notifications](https://cloud.githubusercontent.com/assets/2106660/15776073/7232340c-297d-11e6-9694-538248be1e96.png)

[2016-06-03 10:22] #5 closed

[2016-06-03 10:39] cquanu commented on #6
Fix in [Dev Branch](https://github.com/cquanu/github-dark/tree/v1.5.0-dev)

[2016-06-03 10:43] cquanu commented on #8
Fixed in [Dev Branch (v1.5.0-dev)](https://github.com/cquanu/github-dark/tree/v1.5.0-dev).

[2016-06-03 10:51] toogy commented on #6
I just tried the last dev version (by copy/pasting the css code from the dev branch in userstyles) and I don't see any difference:

![deepinscreenshot20160603125013](https://cloud.githubusercontent.com/assets/694873/15776702/de5d3436-2989-11e6-99cd-e30ac57b94b5.png)

[2016-06-03 10:52] cquanu commented on #6
Hi @toogy the color is slightly brighter.

[2016-06-03 10:57] #9 closed

[2016-06-03 11:59] cquanu commented on #10
@toogy are you working on https://github.com/explore?

[2016-06-03 12:02] toogy commented on #10
@cquanu I don't have the time right now, sadly. I need to take care of my studies

[2016-06-03 12:03] cquanu commented on #10
Sure. Just checking, I'll get it fixed

[2016-06-03 13:35] cquanu commented on #7
Thanks for the help

[2016-06-03 13:35] #7 closed

[2016-06-03 20:06] #6 closed

[2016-06-03 20:06] #8 closed

[2016-06-04 16:55] cquanu commented on #10
Closing this. Surprise coming up

[2016-06-04 16:55] #10 closed

[2016-06-04 16:59] toogy commented on #6
I still find the blue hard to read though! Maybe it's just me and my eyes?

[2016-06-04 17:04] cquanu commented on #6
@toggy no problem i will make it better. Next big update is coming

[2016-06-04 18:07] cquanu commented on #6
@toogy v2.0 Just released.

[2016-06-04 18:13] cquanu commented on #10
@Nikitaw99 @toogy https://github.com/explore is fixed

[2016-06-05 11:34] rusmaxim opened #15 "code samples not-readable Safari."
**What's the issue?**

code samples not-readable

**Steps to reproduce**

open https://github.com/rusmaxim/angular2-jwt

**Screenshots**

https://monosnap.com/file/iRipVkH7JAJyFdXhxD3A6uY9TBlGmw

**What version is affected by this problem?**

v2.0

[2016-06-05 11:43] cquanu commented on #15
Thanks for reporting. This will be fixed in the next update. Thanks!

[2016-06-05 21:45] rodrigograca31 opened #16 "Diffs have low readability"
**What's the issue?**

Diff pages are really hard to read, for example: [https://github.com/douglascrockford/JSLint/commit/f819cf3c65d07086cf217c549c577fa77dc65fc9](https://github.com/douglascrockford/JSLint/commit/f819cf3c65d07086cf217c549c577fa77dc65fc9)

First I was worried that It was hard to read the red and green "zones", but then I noticed another zone where the code is not even visible....

[2016-06-05 21:54] rodrigograca31 opened #17 "Inline code blocks are not shown/highlighted"
**What's the issue?**

`Inline code blocks like this` are not visible in with this plugin.....

**Steps to reproduce**

Put ` before and after some code.

**Screenshots**

With the plugin:
![image](https://cloud.githubusercontent.com/assets/1134310/15808503/e53f5d2c-2b70-11e6-879b-91307fe2b0de.png)
Without the plugin:
![image](https://cloud.githubusercontent.com/assets/1134310/15808505/e9e111e0-2b

[2016-06-05 22:13] cquanu commented on #16
Thanks for reporting. This will be fixed in the next update. Thanks!

[2016-06-05 22:15] cquanu commented on #17
Thanks for the detailed report, I totally get it. This will be fixed in the next update. Thanks! 👍

[2016-06-05 22:19] rodrigograca31 commented on #17
@cquanu Also: add something like "Solution" to your `ISSUE_TEMPLATE.md` file so people can add some solution if they have it... (Like I did...)

[2016-06-05 22:27] cquanu commented on #17
Thanks for the feedback. I thought it might just be 'issues' unless someone has a solution then maybe pull request? Anyways I'll add in it. Thanks for contributing 👍 😄

[2016-06-05 22:33] rodrigograca31 commented on #17
Yheaa I also thought that, but in some cases people don't go to that trouble (sending a pull request) or don't send it because it may be an "opinion" and think it will be rejected so why bother? Do you get what I'm saying?

[2016-06-05 22:39] cquanu commented on #17
I totally get what you're saying

[2016-06-05 22:45] cquanu commented on #17
Check out the new <code>ISSUE_TEMPLATE.md</code>

[2016-06-06 08:15] d53dave opened #18 "Low readability for highlighted code"
#### What's the issue:

 Highlighted code has low readability under some circumstances, see screenshots.

#### Steps to reproduce:

No steps needed, just open some code while Github Dark is enabled.

#### Screenshots:
Mine own .vimrc:

![Mine own .vimrc](https://cloud.githubusercontent.com/assets/3652719/15815748/47206e1a-2bcf-11e6-8d21-42abd5d6df2e.png)
Some Javascript
![screen shot 2016-06-06 at

[2016-06-06 09:43] cquanu commented on #18
Hi, please update the latest version and see if the problem still exist.

[2016-06-06 09:44] cquanu commented on #18
The screenshots above look like you're on v1. *

[2016-06-06 15:04] rodrigograca31 commented on #17
Nice, I like it! :)

[2016-06-07 00:03] glynhudson commented on #18
I have the same issue, I'm running 2.0. Code is not readable :-(

Looks great otherwise!

![screenshot 2016-06-07 at 01 02 48](https://cloud.githubusercontent.com/assets/758844/15841775/9d41bce6-2c4b-11e6-8ff5-3adb4e7307ad.png)

[2016-06-07 00:21] cquanu commented on #18
Thanks for reporting. This will be fixed in the next update. May I also ask that you paste the file url that you were viewing here? So I can take a look?

[2016-06-07 09:31] glynhudson commented on #18
Thanks, https://github.com/emoncms/emoncms/blob/master/Modules/feed/Views/feedlist_view.php

[2016-06-07 09:32] glynhudson commented on #18
Thanks, please let me know when you have pushed update. Will I need to update manually?

This was the file, however most code I look at looks similar:

https://github.com/emoncms/emoncms/blob/master/Modules/feed/Views/feedlist_view.php

[2016-06-07 09:35] d53dave commented on #18
I don't know what version I was on - I have now updated to 2.0. The issues remain though.

[2016-06-07 12:47] cquanu commented on #18
@glynhudson Thanks. Will definitely fix this.

[2016-06-08 13:54] cquanu commented on #18
The new update is released, closing this.

[2016-06-08 13:54] #18 closed

[2016-06-08 13:55] cquanu commented on #17
The new update is released, closing this.

[2016-06-08 13:55] #17 closed

[2016-06-08 13:55] cquanu commented on #16
The new update is released, closing this.

[2016-06-08 13:55] #16 closed

[2016-06-08 13:55] cquanu commented on #15
The new update is released, closing this.

[2016-06-08 13:55] #15 closed

[2016-06-08 15:09] smpetrey opened #19 "Organizations Header"
:wave: Hello! Just a heads-up — the Github Organization Page header is missing styles.

#### Steps to reproduce:
Navigate to an Organization page.

#### Screenshot:
<img width="643" alt="screen shot 2016-06-08 at 10 02 06 am" src="https://cloud.githubusercontent.com/assets/6411509/15899124/569cd652-2d60-11e6-8df5-7671fdd35abb.png">

#### Solutions:
I might be able to make a PR later if I have time

[2016-06-08 16:24] cquanu commented on #19
@smpetrey Thanks for reporting this. This will be fixed in the next update.

[2016-06-08 16:28] cquanu commented on #19
Free free to make a PR later to [[ Dev Branch ] **v2.2.0**](https://github.com/cquanu/github-dark/tree/v2.2.0-dev).

Please use the  background-color: <code>#292c36</code> and border color: <code>#4c4d55</code>

[2016-06-08 19:42] smpetrey commented on #19
@cquanu Will do. Thanks!

[2016-06-13 13:44] jpmnteiro opened #21 "Unable to read warning text"
#### What's the issue:
Unable to read warning text on a repository due to the background colour (`#fffccc`).

#### Steps to reproduce:

1. Open a repository with a warning (https://github.com/DefinitelyTyped/DefinitelyTyped)
2. Check the warning text.

#### Screenshots:
![github_dark_alert_bug](https://cloud.githubusercontent.com/assets/2106660/16009539/1339cca8-3175-11e6-8605-673571fedcc9.png)

#

[2016-06-13 13:48] cquanu commented on #21
Thanks for the detailed report. Will definitely fix this.

[2016-06-16 13:55] stamminator opened #22 "Payment options have poor readability"
#### What's the issue:

When I got a new credit card and the Github transaction failed against my old card, I went to change my payment method and found it was really hard to read.

#### Steps to reproduce:

Settings > Billing. Lot's of hard-to-read text. Click on "Update payment method" and you'll see some more.

#### Screenshots:

[https://s32.postimg.org/6aau4eqhx/git.png](https://s32.postimg.o

[2016-06-16 14:00] cquanu commented on #22
Thanks for reporting. This will be fixed in the next update.

[2016-06-24 01:34] cquanu commented on #22
This problem has been fixed in the latest update.

[2016-06-24 01:34] #22 closed

[2016-06-24 01:35] cquanu commented on #21
This problem has been fixed in the latest update.

[2016-06-24 01:35] #21 closed

[2016-06-24 01:35] cquanu commented on #19
This problem has been fixed in the latest update.

[2016-06-24 01:35] #19 closed

[2016-06-27 12:55] d53dave opened #25 "Low readability on new repo page"
#### What's the issue:
The empty repo page not readable.

#### Steps to reproduce:
Create a new repository without any files (readme, license, etc). Github will redirect you to the empty repo page.

#### Screenshots:
![screen shot 2016-06-27 at 14 51 53](https://cloud.githubusercontent.com/assets/3652719/16380363/e7b0ea78-3c76-11e6-8d86-cec8ac0b19be.png)

#### What version is affected by this prob

[2016-06-27 13:19] cquanu commented on #25
@d53dave Thanks for reporting. This will be fixed in the next update. Thanks!

[2016-07-07 08:25] d53dave opened #26 "Low readability of titles on milestones page"
#### What's the issue:
Low readability of titles on milestones page

#### Steps to reproduce:
Navigate to https://github.com/angular/angular.js/milestones

#### Screenshots:
![screen shot 2016-07-07 at 10 22 05](https://cloud.githubusercontent.com/assets/3652719/16646889/dc5d06a8-442c-11e6-9fd9-739f2f51e882.png)

#### What version is affected by this problem:
v2.1.2

[2016-07-11 05:20] cquanu commented on #26
Thanks for reporting. This will be fixed in the next update. Thanks!

[2016-07-20 18:38] TheAlphaPack opened #27 "Low Readability of Conflict Check in Pull Requests."
**What's the issue:**

Low readability of conflict check in pull requests.

**Steps to reproduce:**

Visit https://github.com/cquanu/github-dark/pull/24

**Screenshot:**

![gitdark](https://cloud.githubusercontent.com/assets/15111691/16998383/1d3657cc-4eb1-11e6-8b8f-8975bb48e19c.png)

**What version is affected by this problem:**

v2.1.2

[2016-07-29 13:03] jpmnteiro opened #28 "Low readability of security history"
#### What's the issue:
Low readability of security history.

#### Steps to reproduce:
Navigate to the [Security tab](https://github.com/settings/security)

#### Screenshots:

(blacked out some of the more sensitive information)

![security_low_readbility](https://cloud.githubusercontent.com/assets/2106660/17248828/d4d5c0c2-5594-11e6-8e9a-384b380008bb.png)

#### Solutions:

Change the `color` prope

[2016-08-08 05:39] cquanu commented on #27
Thanks for reporting. This will be fixed in the next update. Thanks!

[2016-08-08 05:40] cquanu commented on #28
Thanks for reporting. This will be fixed in the next update. Thanks!

[2016-08-08 07:54] #28 closed

[2016-08-08 08:16] #25 closed

[2016-08-08 08:17] cquanu commented on #27
Fixed

[2016-08-08 08:17] #27 closed

[2016-08-08 08:17] cquanu commented on #26
This problem has been fixed in the latest update.

[2016-08-08 08:17] #26 closed

[2016-08-20 01:06] cquanu opened #29 "Button Rework"
- [ ] Rework on Disabled Button
- [ ] Rework on Green Button
- [ ] Rework on Hover Button

[2016-09-29 06:18] alphapapa opened #30 "solarized-everything-css"
Hi there,

As a fellow GitHub CSS themer, I thought I'd offer this:

https://github.com/alphapapa/solarized-everything-css

I set up a Makefile that uses Stylus to build the stylesheets, and it makes re-theming so much easier than writing raw CSS.  We might even be able to collaborate on the `github.styl` file, and you could use a `dark.styl` file to change the colors and fonts.  :)

[2016-09-30 14:12] lacostenycoder opened #31 "Request Option to Disable strikethrough style on deleted code"
#### What's the issue:

 Strikethrough style on deleted code is hard to read.  Any way to disable this style?
#### Steps to reproduce:

View code chances
#### Screenshots:

![screen shot 2016-09-30 at 10 11 42 am](https://cloud.githubusercontent.com/assets/6077905/18994549/557ccd0a-86f6-11e6-9a40-1b89c3ad071e.jpg)
#### Solutions:

Add an option to disable this style.  Couldn't find it in CSS
####

[2016-09-30 19:20] cquanu commented on #31
Thanks for the support! I'll improvement the code diff style in the next update.

[2016-09-30 19:21] cquanu commented on #29
ATM no improvement is really needed.

[2016-09-30 19:21] #29 closed

[2016-09-30 19:24] cquanu commented on #30
Hi i will get back to you soon, I'm quite busy this week

[2016-10-04 16:25] snowe2010 opened #32 "Low readability and very high contrast on review comments"
#### What's the issue:

The white background for the review comment header and reply box are very hard to read.
#### Steps to reproduce:

Go to a PR and look at or create a review with a comment on a line.
#### Screenshots:

![githubdarkissue](https://cloud.githubusercontent.com/assets/1534535/19082741/ad01cb4c-8a1c-11e6-89ab-fa9bb99f04c8.png)
#### Solutions:

Modify `.review-thread-reply` and `.d

[2016-10-04 16:37] cquanu commented on #32
This will be fixed in the next update. Thanks for reporting!

[2016-10-04 20:00] snowe2010 commented on #32
This theme looks great. Thanks for all the hard work :D

[2016-10-07 22:41] aalvarado opened #33 "Style from userstyles.org incomplete"
#### What's the issue:

 If you click on show css on the stylish link for this style (https://userstyles.org/styles/128271/github-dark-2-0) it only shows half of the styles when the style is installed, it's missing several lines of css so some elements appear unstyled.

#### Steps to reproduce:

Install via stylish on Chrome

#### Screenshots:

#### Solutions:

Maybe there's a limit on Userstyles.

[2016-10-07 22:53] cquanu commented on #33
That's a very good find! Thanks. It's fixed now. 👍

[2016-10-07 22:54] #33 closed

[2016-10-09 13:39] alim0x commented on #33
@cquanu I use the user script with Tampermonkey from userstyles.org

![image](https://cloud.githubusercontent.com/assets/4954007/19220802/78e3dc7e-8e68-11e6-8d97-4eace17f16e8.png)

The user script doesn't work by default,  I think it's because of the missing of the `match` section.

![image](https://cloud.githubusercontent.com/assets/4954007/19220808/bab109ba-8e68-11e6-8bca-05b420c4d3d8.png)

Afte

[2016-10-09 14:24] cquanu commented on #33
Hi @alim0x I don't support Tampermonkey ATM.

[2016-10-09 14:31] alim0x commented on #33
@cquanu Thanks for your reply, maybe this script is auto-generated by userstyles.org.

Thanks for the beautiful theme :+1:

[2016-10-09 14:32] cquanu commented on #33
@alim0x Yup, It's auto-generated by userstyles.org. You're welcome!

[2016-11-23 20:13] TifPun opened #36 "Task list item on hovering has the same background and text color"
#### What's the issue:
When hovering on a `task-list-item`, the background color and the text color are the same, making the text not readable

#### Steps to reproduce:

Create a task list like the one below, then hover over a list item:

[code]

#### Screenshots:
![image](https://cloud.githubusercontent.com/assets/4983864/20577100/a185106e-b175-11e6-8677-148398722485.png)

#### Solutions:
Might b

[2016-12-21 02:00] cquanu commented on #36
@TifPun Hi, thanks for helping! Where can i find the task list?

[2016-12-21 03:01] cquanu commented on #36
MB. Just saw the steps to reproduce this bug

[2016-12-21 03:01] cquanu commented on #36
Test
- [ ] mapWidgetAdded
- [ ] mapWidgetRemoved
- [ ] toolbarDrawComplete

[2016-12-21 03:09] cquanu commented on #36
This will be fixed in the next update. Thanks!

[2016-12-21 03:21] cquanu commented on #32
Hi @snowe2010 do you have direct link to the bug?

[2016-12-21 19:31] cquanu commented on #32
This problem has been fixed in the latest update v2.6.0.

[2016-12-21 19:31] #32 closed

[2017-01-04 16:30] snowe2010 commented on #32
Sorry I didn't see your comment. Do you still need help with this? It looks to be fixed in the release notes, so I'm assuming you figured it out. Thanks if you did!

[2017-01-08 17:38] gbasood opened #38 "Reactions from yourself are very bright"
#### What's the issue:

Reactions from yourself on issues or PRs are very bright compared to those from other users.

#### Steps to reproduce:

React to an issue or PR.

#### Screenshots:

![](http://i.imgur.com/mWaelQn.png)

#### Solutions:

LESS BRIGHT

#### What version is affected by this problem:

v2.6.0

[2017-01-09 17:49] cquanu commented on #38
This will be fixed in the next update. Thanks for reporting!

[2017-01-11 10:56] mtancoigne opened #39 "2.6 - Background color on code ellipsis is too white"
I may change this myself but don't want to mess with pure css... (that would be great to use something like Sass or Less to generate it...)

#### What's the issue:
Background color on code ellipsis is too white

 #151f29
#### Steps to reproduce:
 - Search for  something in a repo (i.e. [this](https://github.com/CakeDC/users/search?utf8=%E2%9C%93&q=remember)):
 - Results will be displayed with code

[2017-01-11 10:57] cquanu commented on #39
This will be fixed in the next update. Thanks @mtancoigne !

[2017-01-11 10:59] mtancoigne commented on #39
You're welcome (I updated the proposition as the CSS selector was wrong)

[2017-01-11 11:08] cquanu commented on #39
Noted. Thanks

[2017-01-26 10:30] tgy commented on #39
Has this been fixed?

[2017-02-19 18:26] snowe2010 opened #40 "New repository page is bright white"
#### What's the issue:

Creating a new repository gives you and empty repository page where the background of the content is bright white. I think it's caused by the background for element
`container new-discussion-timeline experiment-repo-nav` being white.

#### Steps to reproduce:

Reproduce by creating a new repository

#### Screenshots:

![2017-02-19 11_17_29-promontech_pbotty](https://cloud.g

[2017-03-01 17:10] Memphizzz opened #41 "Feature Request: GitLab compatibility."
Is it possible to make this style compatible with GitLab as well?

That would be awesome!

[2017-03-08 16:22] TifPun commented on #36
Thanks @cquanu for your quick response! Great job and please keep it up :)

[2017-03-24 16:00] #38 closed

[2017-03-24 16:02] cquanu commented on #41
Sorry for the delay. I haven't tried GitLab yet. But will definitely make a GitLab theme if i have time.

[2017-03-24 16:02] #41 closed

[2017-03-24 16:03] cquanu commented on #30
Sorry closing this.

[2017-03-24 16:03] #30 closed

[2017-03-24 16:09] cquanu commented on #39
Fixed in #43

[2017-03-24 16:09] #39 closed

[2017-04-28 22:36] ravkr opened #44 "Bright white elements on security page"
some elements on https://github.com/settings/security are bright white

![zrzut ekranu z 2017-04-29 00 34 40](https://cloud.githubusercontent.com/assets/3875202/25549698/be11f188-2c73-11e7-9ac7-bba1e6b35023.png)

version: GitHub Dark v2.6.0

[2017-09-29 22:40] giobeatle1794 opened #46 "The Options section is white"
#### What's the issue:
The background of each section is white, in the Options section of a repo.

#### Screenshots:
![deepinscreenshot_20170929173547](https://user-images.githubusercontent.com/11619974/31038520-c85beaba-a566-11e7-978b-fd5b0da791ba.png)

#### Solutions:
With this code
`.Box  {
    background: #1A2632;
    border-color: #304251;
    border-width: 1px;
}`

#### What version is affec

[2017-10-26 19:03] snowe2010 commented on #36
I'm currently still seeing this broken. the css I added to fix it is

[code]

all i did was change background to your current secondary color (the bar color for comments etc)

[2017-11-19 20:19] cquanu commented on #46
Fixed

[2017-11-19 20:19] #46 closed

[2017-12-23 14:59] xan2622 opened #50 "Borders are white on the Github notifications page."
#### What's the issue:
Borders are almost white (#e1e4e8) when you browse Github notifications.
These borders should have the color #304251 instead.

It currently is:
[code]

#### Steps to reproduce:
Just go to https://github.com/notifications and you'll notice a problem with a border color.

#### Screenshots:
![screenshot001](https://user-images.githubusercontent.com/1732773/34320391-ac608cb4-e7f

[2017-12-30 22:34] xan2622 opened #51 "Bright white comments"
#### What's the issue:
Some DIVs are bright white.

#### Steps to reproduce:
For example, check this project: https://github.com/OpenRA/OpenRA/pull/14191#pullrequestreview-69818079

#### Screenshots:
![screenshot002](https://user-images.githubusercontent.com/1732773/34457693-a80a5cec-edb9-11e7-9129-f99abbe79402.png)

#### Solutions:
Might be related to:

`.Box {
    background-color: #fff;
    bor

[2018-02-01 04:07] #51 closed

[2018-02-01 04:10] #50 closed

[2018-02-26 15:56] #31 closed

[2018-05-08 16:38] snowe2010 commented on #44
closed by #59

[2018-05-08 16:38] #44 closed

[2018-05-17 20:47] xerus2000 opened #60 "Updates not propagated to Stylish"
Stylish says last updated in 2016, yet here are some very fresh commits. Can you update it on stylish too?

[2018-05-23 19:38] mattbeaudin commented on #60
Really hope this project isn't dead.  It seems the author hasn't been active for a while.

[2018-05-23 22:44] Xerus2000 commented on #60
yes, but that's pretty inconvenient :/

[2018-07-16 11:15] locness3 commented on #40
I did the fix in my pull request !

[2018-07-16 11:15] locness3 commented on #40
Hope they merge it :/

[2018-07-16 11:17] locness3 commented on #36
You should open a pull request

[2018-07-16 16:00] snowe2010 commented on #36
@locness3 I actually am now a contributor to the project. I will fix it in a bit.

[2018-07-16 16:50] snowe2010 commented on #36
@locness3 This was already fixed in a previous commit. You might not be seeing this in your version because Quan temporarily handed control of the project over to me, but I do not have permission to update the userstyles.org version. You can receive all updates by using the Stylus addon and using the userstyle version of the css file. You can either create the userstyle on your own, or you can ope

[2018-07-16 16:50] #36 closed

[2018-07-16 17:14] snowe2010 commented on #60
Quan is on military duty for 2 years and has handed reins of the project over to me in that time. I'm unable to push updates to userstyles.org (stylish) though. I would really suggest not using stylish as it's much easier to use the relatively 'new' userstyles. You can install the user style by just visiting this link https://raw.githubusercontent.com/cquanu/github-dark/master/github-dark.user.css

[2018-07-16 17:15] snowe2010 commented on #60
I didn't mention, but usercss will update automatically when new changes are merged.

[2018-07-16 17:19] #40 closed

[2018-07-17 04:55] locness3 commented on #36
@snowe2010 OK

[2018-07-17 06:11] Xerus2000 commented on #60
yes I'm now using Stylus so I'll do it using usercss thanks :)

[2018-09-13 16:54] hozefaj opened #64 "link to chrome extension is not working"
#### What's the issue:
link to chrome extension is not working. Showing a 404.

https://chrome.google.com/webstore/detail/stylish/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en is not correct URL

#### Steps to reproduce:
Click on the `Google Chrome` link in the Readme.

#### Solutions:
Update link with correct URL or if the extension

[2018-11-06 13:18] Xerus2000 opened #82 "Why are there two css files"
It is confusing to have both files there and not knowing which one to update when submitting a PR. What about a script that creates one out of the other and a simple note which one to edit?

[2018-11-06 13:29] Xerus2000 commented on #82
And it's even worse requiring that you have to apply _the exact same changes_ to both files when you submit a PR...

[2018-12-27 02:42] Zyrsha opened #84 "Stylus reports "Unexpected token""
The theme still works, but Stylus reports an error:

[code]

[2019-01-15 08:55] hosein2398 opened #85 "Issues & PRs header is white"
#### What's the issue:
Hey i'm using the latest version and this problem exists, not sure if this only happens in my machine or not.

#### Screenshots:

![image](https://user-images.githubusercontent.com/17067774/51169093-4318d880-18c0-11e9-8b4f-770c05452128.png)

[2019-02-22 16:23] ryancraigmartin opened #86 "Headings are rendered as white text on a white background."
#### What's the issue:

Headings are rendered as white text on a white background.

#### Steps to reproduce:

You can view the readme of [this repo.](https://github.com/ryancraigmartin/jest-simple-emoji-reporter) (same as screenshot below)

#### Screenshots:

![Screenshot of the repo above](https://user-images.githubusercontent.com/15722561/53255619-ffba4280-3693-11e9-85b4-32f7e33b9d29.png)

####

[2019-02-22 18:15] snowe2010 commented on #86
Hi @ryancraigmartin. How did you install the css style? I currently cannot reproduce with the [user.css](https://github.com/cquanu/github-dark/blob/master/github-dark.user.css)

[2019-03-10 09:40] nybbs2003 opened #87 "Markdown files are still shown in white background"
#### What's the issue:

#### Steps to reproduce:

#### Screenshots:

#### Solutions:

#### What version is affected by this problem:

[2019-03-13 17:04] snowe2010 commented on #87
Hi @nybbs2003. How have you installed `github-dark`? Using UserStyles.org/Stylish? Or using the user.css?

[2019-03-20 21:22] ryancraigmartin commented on #86
I apologize for the late response. I installed it directly from the Stylish website. I didn't make any extra adjustments to the CSS file.

[2019-03-20 21:31] snowe2010 commented on #86
Stylish will be out of date until @cquanu gets back. In the meantime I am maintaining the repo and am only able to update the user style. Could you instead visit the user css and install it directly? (If you use the Stylus browser plugin and visit [this link](https://github.com/cquanu/github-dark/raw/master/github-dark.user.css) it will prompt you to install the user css automatically.) It will al

[2019-03-21 13:36] ryancraigmartin commented on #86
That fixed it for me. Installing from the Stylish website was what seemed to have broken it. Thanks, @snowe2010!

[2019-03-21 13:36] #86 closed

[2019-03-21 16:48] snowe2010 commented on #86
You are welcome. If you see any more issues (I know there are currently some) please feel free to make PRs or Issues for them. I just haven't had time to fix most of them.

[2019-04-03 14:40] Spazzze commented on #87
Same issue. Installed from site https://userstyles.org/styles/128271/github-dark-2-0

[2019-04-03 16:49] snowe2010 commented on #87
You cannot use userstyles.org to install the style. To get the most up-to-date style you'll need to install using the [user.css](https://github.com/cquanu/github-dark/raw/master/github-dark.user.css) file, or install manually by copying and pasting from the css file. I don't have permission to update the userstyles page, and the owner is not available for several years. He put me in charge, but I'

[2019-04-03 17:22] Spazzze commented on #87
Thank you! Works perfect now

[2019-04-03 18:02] snowe2010 commented on #87
@nybbs2003 does this solve your issue as well?

[2019-04-15 15:45] williambj1 opened #91 "The pop-out description for issues/PRs are still white"
#### What's the issue:

 The pop-out description for issues/PRs are still white

#### Steps to reproduce:

When you scroll down a long issue or a PR, it will appear on the top.

#### Screenshots:

![image](https://user-images.githubusercontent.com/45396585/56146223-714da780-5fd8-11e9-9e11-749db90a47d4.png)

Thank you very much!

[2019-04-15 15:50] snowe2010 commented on #91
Yes, GitHub keeps changing the classes for this element and it keeps breaking. I've fixed it quite a few times now 😢 . If you would be willing to submit a PR I can get it in pretty quick. Otherwise this might take me a day or two.

[2019-04-16 01:05] williambj1 commented on #91
Sorry, I don't know much about CSS😢

Thanks for fixing it. This awesome project makes me feel much better when I am visiting GitHub at night!
Cheers!

[2019-04-19 02:38] #91 closed

[2019-05-01 07:59] cirediew opened #92 "Text in the search box is hard to read."
#### What's the issue:
The text color in the 'Search or jump to...' box in the banner was close to the same color of the background when active/selected. And therefore hard to read.
Background: `#151f29`
Text: `#24292e`

#### Solutions:
Add the following to the CSS:
[code]
This will change the text color to the primary text color, which is white by default.

#### What version is affected by this p

[2019-05-01 18:22] #92 closed

[2019-05-06 03:03] gusbemacbe commented on #87
1. I copied the whole CSS from [user.css](https://github.com/cquanu/github-dark/raw/master/github-dark.user.css);
2. Like:

![image](https://user-images.githubusercontent.com/2257024/57205086-509ebf00-6f92-11e9-956d-d017a7dc30fd.png)

But Stylish does not understand this file.

[2019-05-06 20:52] snowe2010 commented on #87
Hi @gusbemacbe. It seems that you are using [Stylish](https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en), instead of [Stylus](https://github.com/openstyles/stylus). I am not sure if Stylish supports usercss, because most of the community stopped using Stylish after it was discovered that they were selling analytics data. Instead I would reco

[2019-05-06 21:13] gusbemacbe commented on #87
Hi @snowe2010 !

Thank you for making me aware of that because I have never followed that news. I have just replaced Stylish for Stylus. I have just tested it and it worked.

[2019-05-07 02:20] snowe2010 commented on #87
Fantastic!

[2019-05-20 15:26] Jerome1337 opened #93 ".Box class style is not changed"
#### What's the issue:
All the `.Box` `.Box-header`... are white instead to be dark

#### Steps to reproduce:
Just install the lastest version of github-dark 2 using the automatic installer and Stylish/Stylus

#### Screenshots:
![image](https://user-images.githubusercontent.com/7968649/58033093-24ec0f00-7b24-11e9-849e-f744d9c9a3c7.png)

![image](https://user-images.githubusercontent.com/7968649/58

[2019-05-20 15:29] Jerome1337 opened #94 "Releated issues list have a white hover"
#### What's the issue:
The issues list on the issue creation page have a white hover.

#### Steps to reproduce:
Install the latest version using the automatic installer with Stylish/Stylus

#### Screenshots:

![image](https://user-images.githubusercontent.com/7968649/58033345-962bc200-7b24-11e9-8ec5-ee61cf4428e3.png)

#### What version is affected by this problem:
`v2.6.0`

[2019-05-20 15:33] Jerome1337 opened #95 "Issue list have a white background"
#### What's the issue:
The issue list have a white background

#### Steps to reproduce:
Install the latest version

#### Screenshots:

![image](https://user-images.githubusercontent.com/7968649/58033741-52858800-7b25-11e9-994d-99ca1ae03e6e.png)

#### What version is affected by this problem:
`v2.6.0`

[2019-05-20 19:07] snowe2010 commented on #93
The latest version is 2.6.5. Please install using the user css style and try again.

[2019-05-20 19:08] snowe2010 commented on #94
Please install the latest version using the userstyle.

[2019-05-20 19:08] #94 closed

[2019-05-20 19:08] snowe2010 commented on #95
Please install the latest version using the userstyle

[2019-05-20 19:08] #95 closed

[2019-05-21 08:25] Jerome1337 commented on #93
Ok this is working, by bad

But their is a weird border on the dashboard list

![image](https://user-images.githubusercontent.com/7968649/58080032-a8544180-7bb2-11e9-9832-b33c56a94b3b.png)

[2019-05-21 14:26] snowe2010 commented on #93
Could you create a separate issue? and provided a detailed report? I do not see the same issue on my side for some reason.

[2019-05-21 14:26] #93 closed

[2019-05-24 16:01] locness3 opened #96 "Changing colors for security advisories internal comments"
#### What's the issue:
Internal comments in Security advisories (a brand new github feature) use a orange color to show their internal state (when advisory is not published).
Should use a distinct color for these in this style.
![Screenshot_2019-05-24 Build software better, together](https://user-images.githubusercontent.com/37651007/58341177-ef119800-7e4d-11e9-8085-becbbef3423f.png)

#### What ve

[2019-05-28 19:06] snowe2010 commented on #96
What color would you suggest using here?

[2019-05-29 05:48] locness3 commented on #96
Maybe an orange ?

[2019-07-16 10:01] ShalokShalom commented on #60
I suggest using Stylus since it is receiving much more attention compared to Stylish.

The homepage still suggests Stylish for some reason.

Could we change that?

[2019-07-16 10:45] ShalokShalom opened #97 "White colors everywhere"
#### What's the issue:

Readme files and issues in the homescreen are very bright

#### Steps to reproduce:

Install Github-Dark 2.0

#### Screenshots:

![Screenshot_20190716_124330](https://user-images.githubusercontent.com/6344099/61288488-839dd400-a7c7-11e9-8f70-be37a149bfad.png)

![Screenshot_20190716_124508](https://user-images.githubusercontent.com/6344099/61288519-91ebf000-a7c7-11e9-882d-7f

[2019-07-16 10:51] ShalokShalom opened #98 "Release 4.7"
#### What's the issue:

 There are around 4000 changes since the current release, which happened 2016

#### Solutions:

Create a release

[2019-07-16 15:46] snowe2010 commented on #98
I'm not going to create releases when I don't have the ability to push to userstyles.org. When @cquanu comes back he can decide whether to add releases again, though I think it's best to move away from userstyles.org anyway.

Updates propagate automatically with Stylus/usercss as well, so creating releases is a bit of a non-necessity.

[2019-07-16 15:46] #98 closed

[2019-07-16 15:49] snowe2010 commented on #60
@ShalokShalom 	Stylus is suggested as the default method under `How To Use`. There are instructions for if you use Userstyles.org though, is that what you are talking about?

[2019-07-16 15:49] snowe2010 commented on #97
Did you install Stylus using `userstyles.org` or using the `user.css` file in the root directory?

[2019-07-16 16:15] ShalokShalom commented on #97
I did install Stylus through the Firefox app-store?

And then, the theme via userstyles.org

[2019-07-16 16:16] ShalokShalom commented on #60
https://cquanu.github.io/github-dark/

[2019-07-16 16:20] ShalokShalom commented on #98
The outdated info will stay on userstyles anyway, confusing users, so we could think about uploading a separate version?

[2019-07-16 16:33] snowe2010 commented on #98
I'm not sure what you mean.

[2019-07-16 16:37] snowe2010 commented on #97
Yes, the theme is not updated on userstyles.org. See #86, #87, #93, #94, #95.

[2019-07-16 16:37] #97 closed

[2019-07-16 16:38] ShalokShalom commented on #98
When we go away from userstyles, the outdated version there will stay.
So people install that outdated version which is obviously not the perfect solution. If we do not update anything, they will still think this is the most up to date version. A lot of people might not look into the actual repo to see the commits.

All things considered, I think its obvious that uploading a separate version on us

[2019-07-16 16:40] ShalokShalom commented on #97
So, why are you recommending it on userstyles?

[2019-07-16 16:47] snowe2010 commented on #97
We're not. The recommendation is to use the usercss.

    Firefox (be sure to place the CSS inside the @-moz-document domain("github.com") block, **but is best to install as a userstyle**)
    Safari

[2019-07-16 16:48] snowe2010 commented on #97
If you would like to update the documentation to make it more clear, since it appears to not be clear enough, feel free to make a pr and I will merge.

[2019-07-16 16:48] ShalokShalom commented on #97
That link here: https://github.com/cquanu/github-dark#userstylesorg

[2019-07-16 16:49] ShalokShalom commented on #97
I think the current way is super confusing. Why not simply carring an own version on userstyles and let everyone installing with one click?

[2019-07-16 16:51] snowe2010 commented on #97
Please read #86 and #87 for why.

[2019-07-16 16:55] ShalokShalom commented on #97
This says nothing why it is a bad idea to host our own version.

[2019-07-16 16:56] snowe2010 commented on #97
What do you mean by our 'own' version.

[2019-07-16 16:58] ShalokShalom commented on #97
That we upload our own version on user styles..

I do that now.

[2019-07-16 16:59] snowe2010 commented on #97
I think that will cause confusion. What happens when @cquanu 	comes back and begins updating the main userstyles.org again. It's much easier to use one click installs with usercss than with userstyles.org. We should be migrating away from userstyles.org for many reasons, the fact that it's not being updated is just one of them. I will update the readme.

[2019-07-16 17:05] snowe2010 commented on #97
I have updated the readme. Let me know if that is more clear.

[2019-07-16 17:06] ShalokShalom commented on #97
Taking it down?

What happens if cquanu never comes back?

[2019-07-16 17:08] snowe2010 commented on #98
I've updated the readme to align more with what I see the future of the project being. Userstyles.org is a for-profit that sells user data. We can accomplish the same thing with user.css, so I'd rather use that since it's free, requires no pushing of updates to Userstyles.org, and requires no releases.

[2019-07-16 17:11] snowe2010 commented on #97
@cquanu is on military leave.

I've updated the readme to clarify that userstyles will not be updated and should not be used.

[2019-07-16 17:13] ShalokShalom commented on #98
I already did one upload.

You can do that user.css thingy, the number one thing I am concerned about is that people experience the same pain I just received the past hours.

Thanks a lot

[2019-08-06 14:17] Paragoumba opened #102 "Why do markdown images have a background-color ?"
#### What's the issue:
Markdown images have a background-color so transparent images appear with a darker background than the page itself.

#### Steps to reproduce:
See any Markdown file with a transparent area (like [this one](https://github.com/System-Glitch/Elyssif-Client)).

#### Screenshots:
![image](https://user-images.githubusercontent.com/22895992/62547074-e9302e00-b864-11e9-8962-61a9e4169

[2019-08-06 19:15] snowe2010 commented on #102
I'm not sure if this was on purpose or not, as I vaguely remember certain images being impossible to read due to having text that was almost the exact same color as the background. If you would like to submit a fix that would be appreciated!

[2019-08-06 19:42] Paragoumba commented on #102
I will!

[2019-08-08 22:33] #102 closed

[2019-08-08 22:56] snowe2010 commented on #102
closed in #105

[2019-09-07 10:10] Starefossen opened #107 "Issue comments have dark text on dark background"
#### What's the issue:

Issue comments have dark text color on dark background.

#### Steps to reproduce:

Latest version of GitHub Dark on Firefox with GitHub.com

#### Screenshots:

![Screenshot 2019-09-07 at 12 10 38](https://user-images.githubusercontent.com/968267/64473565-87672a80-d168-11e9-89ef-286ee1e52932.png)

#### Solutions:

#### What version is affected by this problem:

[code]

[2019-09-07 12:10] Mikaela commented on #107
This seems especially bad with comments that include markdown formatting such as https://github.com/privacytoolsIO/privacytools.io/pull/1279.

![Screenshot from 2019-09-07 15-07-54](https://user-images.githubusercontent.com/831184/64474732-5ba46e80-d181-11e9-8c5f-7a1d9c2e1cb8.png)

![Screenshot from 2019-09-07 15-08-05](https://user-images.githubusercontent.com/831184/64474731-5ba46e80-d181-11e9-8

[2019-09-09 19:07] #107 closed

[2020-03-31 23:13] JonnoFTW opened #113 "Filenames unreadable when using octotree"
#### What's the issue:
Filenames in the octotree filebrowser extension are not clearly visible.

#### Steps to reproduce:

1. Install [octotree](https://github.com/ovity/octotree) plugin
2. Visit any repository

#### Solutions:

Add a `a.jstree-anchor` and `a.jstree-hovered` style. Didn't work though.

#### What version is affected by this problem:

[code]
![image](https://user-images.githubuserco

[2020-04-02 16:42] snowe2010 commented on #113
Octotree continually changes their tags to force you to pay for their dark mode. I don't think I'll be able to fix this, but I can try to force it back to light mode.

[2020-12-09 12:25] moeenio commented on #60
What's the state of this? Userstyles.org is pretty much dead.

[2020-12-09 19:03] snowe2010 commented on #60
Per the readme, do not use userstyles.org. Use the usercss, which automatically updates anytime a change is made on github.

[2020-12-09 19:05] #60 closed

[2020-12-10 16:37] moeenio commented on #60
Might want to delte it from userstyles.org then?

[2020-12-10 17:53] snowe2010 commented on #60
I can't, as stated above I do not have any permissions on the repo. We have to wait until @cquanu comes back to make any changes there.

[2020-12-11 16:00] moeenio commented on #60
Isn't he back?

[2020-12-12 05:02] snowe2010 commented on #60
I haven't heard from him in 2 years.